// ============================================Button =======================
.btn_wrapper {
  background: var(--bg-color);
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  background: #000;
  border-radius: 3px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s ease-out;
  &:hover {
    background: var(--theme);
    color: #000;
  }
  i {
    margin-left: 0.7rem;
  }
}

// ======================================== project card =================
.project_card {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card {
    margin-bottom: 11rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid var(--theme);
    padding-top: 10rem;
    max-width: 430px;
    padding-left: 1rem;
    padding-right: 1rem;
    span {
      padding-bottom: 1rem;
    }
    p {
      max-width: 330px;
      text-align: center;
      margin-bottom: 3.5rem;
    }
    img {
      width: 90%;
      height: 200px;
      position: absolute;
      top: 0;
      border-radius: 3px;
      transform: translate(0, -40%);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.575);
    }
  }
}

/* =====================================skill progess bar====== */
.skills {
  margin-top: -135px;
}
.skills__container {
  margin: 50px auto 0;
  width: 510px;

  ul {
    li {
      position: relative;
      list-style: none;
      margin: 40px 0;
      font-weight: 400;
      text-transform: capitalize;
    }
    li:before {
      content: "";
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      height: 10px;
      background-color: #2d3952;
    }

    li:after {
      content: "";
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 0;
      height: 10px;
      background: linear-gradient(-45deg, #64ffda, #00b98d);

      animation-duration: 2s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
}
li.html:after {
  animation-name: html;
}
@keyframes html {
  to {
    width: 85%;
  }
}

li.css:after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 90%;
  }
}

li.js:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 75%;
  }
}

li.ng:after {
  animation-name: ng;
}

@keyframes ng {
  to {
    width: 60%;
  }
}

li.ai:after {
  animation-name: ai;
}

@keyframes ai {
  to {
    width: 60%;
  }
}
li.ap:after {
  animation-name: ap;
}

@keyframes ap {
  to {
    width: 55%;
  }
}
li.sass:after {
  animation-name: sass;
}

@keyframes sass {
  to {
    width: 65%;
  }
}
li.bootstrap:after {
  animation-name: bootstrap;
}

@keyframes bootstrap {
  to {
    width: 50%;
  }
}
