@media (min-width: 300px) and (max-width: 1280px) {
  .social a {
    font-size: 2rem;
  }
}

@media (min-width: 300px) and (max-width: 399px) {
  .quote_2 {
    display: none;
  }
  .left__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
  }
  .left__side img {
    height: 400px;
  }
  .right__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
  .right__side .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 0.8rem;
  }
  .right__side .nav menu {
    margin-left: 0.5rem;
  }
  .right__side .nav menu ul li + li {
    margin-left: 0.5rem;
  }
  .right__side .social a + a {
    margin-left: 2rem;
  }
  .main {
    padding: 0 1.3rem;
    margin-top: 2rem;
  }
  .main .main_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_wrapper .skills {
    margin-top: 0;
  }
  .main .main_wrapper .skills .skills__container {
    width: 100%;
  }
  .about_me {
    padding-top: 3rem;
    width: 100%;
  }
  .about_me h2 {
    font-size: 1.5rem;
  }
  .about_me div {
    width: 100px;
    margin-left: 1rem;
  }
  .project {
    padding: 0 1.3rem;
  }
  .contact_section {
    padding: 0 1.3rem;
  }
}

@media (min-width: 400px) and (max-width: 480px) {
  .quote_2 {
    display: none;
  }
  .left__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
  }
  .left__side img {
    height: 400px;
  }
  .right__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
  .right__side .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }
  .right__side .nav menu {
    margin-left: 1rem;
  }
  .main {
    padding: 0 1.3rem;
    margin-top: 2rem;
  }
  .main .main_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_wrapper .skills {
    margin-top: 0;
  }
  .main .main_wrapper .skills .skills__container {
    width: 100%;
  }
  .about_me {
    padding-top: 3rem;
    width: 100%;
  }
  .about_me div {
    width: 150px;
    margin-left: 1rem;
  }
  .project {
    padding: 0 1.3rem;
  }
  .contact_section {
    padding: 0 1.3rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .quote_2 {
    display: none;
  }
  .left__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
  }
  .left__side img {
    height: 400px;
  }
  .right__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
  .right__side .logo img {
    height: 45px;
    width: auto;
  }
  .right__side .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .right__side .nav menu {
    margin-left: 2rem;
  }
  .right__side .nav menu ul {
    font-size: 13px;
  }
  .main {
    padding: 0 2rem;
    margin-top: 2rem;
  }
  .main .main_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_wrapper .skills {
    margin-top: 0;
  }
  .main .main_wrapper .skills .skills__container {
    width: 100%;
  }
  .about_me {
    padding-top: 3rem;
    width: 100%;
  }
  .about_me div {
    width: 200px;
    margin-left: 1rem;
  }
  .project {
    padding: 0 2rem;
  }
  .contact_section {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .quote_2 {
    display: none;
  }
  .left__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
  }
  .left__side img {
    height: 500px;
  }
  .right__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
  .right__side .logo img {
    height: 50px;
    width: auto;
  }
  .right__side .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .right__side .nav menu {
    margin-left: 5rem;
  }
  .right__side .nav menu ul {
    font-size: 15px;
  }
  .right__side .quote {
    font-size: 2rem;
  }
  .main {
    padding: 0 7rem;
    margin-top: 2rem;
  }
  .main .main_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main_wrapper .skills {
    margin-top: 0;
  }
  .main .main_wrapper .skills .skills__container {
    width: 590px;
  }
  .about_me {
    padding-top: 3rem;
    width: 100%;
  }
  .about_me div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
    margin-left: 1rem;
  }
  .project {
    padding: 0 7rem;
  }
  .contact_section {
    padding: 0 7rem;
  }
}

@media (min-width: 1281px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .container .quote {
    display: none;
  }
  .container .quote_2 {
    position: absolute;
    left: 6rem;
    top: 30%;
    font-size: 58px;
    font-family: "Anton";
    line-height: 70px;
    font-weight: 700;
    color: #e6f1ff;
    letter-spacing: 1px;
  }
  .right__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
  }
  .right__side .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .right__side .nav .logo img {
    height: 50px;
    width: auto;
  }
  .right__side .nav menu {
    margin-left: 5rem;
  }
  .right__side .nav menu ul {
    font-size: 15px;
  }
  .right__side .social a {
    font-size: 2.4rem;
  }
  .left__side img {
    height: 100%;
  }
  .main {
    padding: 0 6rem;
    margin-top: 2rem;
  }
  .main .main_wrapper {
    margin-top: 2rem;
  }
  .main .main_wrapper p {
    font-size: 1.1rem;
  }
  .about_me {
    padding-top: 5rem;
    width: 100%;
  }
  .about_me h2 {
    font-size: 2.5rem;
  }
  .about_me div {
    width: 200px;
    margin-left: 1rem;
  }
  .project {
    padding: 0 6rem;
    margin-top: 2rem;
  }
  .project .project_card {
    display: none;
  }
  .project .project_card_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .project_card_desktop .card_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 8px solid #64ffda;
    height: 320px;
    width: 550px;
    margin-bottom: 8rem;
  }
  .project .project_card_desktop .card_desktop img {
    position: absolute;
    width: 100%;
    max-width: 450px;
    height: auto;
    left: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.575);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.575);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  .project .project_card_desktop .card_desktop img:hover {
    -webkit-transform: scale(1.05) translateX(-38%);
            transform: scale(1.05) translateX(-38%);
  }
  .project .project_card_desktop .card_desktop .hidden_bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    background: #0a192f;
    text-align: center;
    max-width: 380px;
    padding: 1rem 0;
  }
  .project .project_card_desktop .card_desktop .hidden_bg span {
    padding-bottom: 0.2rem;
  }
  .project .project_card_desktop .card_desktop .hidden_bg p {
    padding-bottom: 1rem;
  }
  .project .project_card_desktop .card_desktop .hidden_bg .btn {
    padding: 1rem 0;
    background: #000;
    border-radius: 3px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    width: 100px;
  }
  .project .project_card_desktop .card_desktop .hidden_bg .btn:hover {
    background: #64ffda;
    color: #000;
  }
  .project .project_card_desktop .card_desktop .hidden_bg .btn i {
    margin-left: 0.7rem;
  }
  .contact_section {
    padding: 0 7rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  border: 1px solid transparent;
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: linear-gradient(-45deg, #64ffda, #00b98d);
}

*::-moz-selection {
  background: #64ffda;
  color: #ffffff;
}

*::selection {
  background: #64ffda;
  color: #ffffff;
}

ul,
ol {
  list-style: none;
  color: #8892b0;
}

p {
  font-weight: 300;
  line-height: 1.6;
  color: #8892b0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton";
  color: #e6f1ff;
}

a {
  text-decoration: none;
  color: #8892b0;
}

a + a {
  margin-left: 3rem;
}

span {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "anton";
  color: #dce7f6;
  letter-spacing: 0.5px;
}

.btn_wrapper {
  background: var(--bg-color);
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  padding: 10px 20px;
  background: #000;
  border-radius: 3px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.btn:hover {
  background: var(--theme);
  color: #000;
}

.btn i {
  margin-left: 0.7rem;
}

.project_card {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project_card .card {
  margin-bottom: 11rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 8px solid var(--theme);
  padding-top: 10rem;
  max-width: 430px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.project_card .card span {
  padding-bottom: 1rem;
}

.project_card .card p {
  max-width: 330px;
  text-align: center;
  margin-bottom: 3.5rem;
}

.project_card .card img {
  width: 90%;
  height: 200px;
  position: absolute;
  top: 0;
  border-radius: 3px;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.575);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.575);
}

/* =====================================skill progess bar====== */
.skills {
  margin-top: -135px;
}

.skills__container {
  margin: 50px auto 0;
  width: 510px;
}

.skills__container ul li {
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 400;
  text-transform: capitalize;
}

.skills__container ul li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #2d3952;
}

.skills__container ul li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 10px;
  background: linear-gradient(-45deg, #64ffda, #00b98d);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

li.html:after {
  -webkit-animation-name: html;
          animation-name: html;
}

@-webkit-keyframes html {
  to {
    width: 85%;
  }
}

@keyframes html {
  to {
    width: 85%;
  }
}

li.css:after {
  -webkit-animation-name: css;
          animation-name: css;
}

@-webkit-keyframes css {
  to {
    width: 90%;
  }
}

@keyframes css {
  to {
    width: 90%;
  }
}

li.js:after {
  -webkit-animation-name: js;
          animation-name: js;
}

@-webkit-keyframes js {
  to {
    width: 75%;
  }
}

@keyframes js {
  to {
    width: 75%;
  }
}

li.ng:after {
  -webkit-animation-name: ng;
          animation-name: ng;
}

@-webkit-keyframes ng {
  to {
    width: 60%;
  }
}

@keyframes ng {
  to {
    width: 60%;
  }
}

li.ai:after {
  -webkit-animation-name: ai;
          animation-name: ai;
}

@-webkit-keyframes ai {
  to {
    width: 60%;
  }
}

@keyframes ai {
  to {
    width: 60%;
  }
}

li.ap:after {
  -webkit-animation-name: ap;
          animation-name: ap;
}

@-webkit-keyframes ap {
  to {
    width: 55%;
  }
}

@keyframes ap {
  to {
    width: 55%;
  }
}

li.sass:after {
  -webkit-animation-name: sass;
          animation-name: sass;
}

@-webkit-keyframes sass {
  to {
    width: 65%;
  }
}

@keyframes sass {
  to {
    width: 65%;
  }
}

li.bootstrap:after {
  -webkit-animation-name: bootstrap;
          animation-name: bootstrap;
}

@-webkit-keyframes bootstrap {
  to {
    width: 50%;
  }
}

@keyframes bootstrap {
  to {
    width: 50%;
  }
}

:root {
  --bg-color: #0a192f;
  --theme: rgb(100, 255, 218);
  --heading: rgb(230, 241, 255);
  --text-color: rgb(136, 146, 176);
  --footer: #0d203d;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  overflow: hidden;
}

.nav {
  width: 100%;
  padding: 0 2rem;
}

.nav .logo img {
  height: 40px;
  width: auto;
}

.nav menu a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  font-weight: 300;
}

.nav menu a:hover {
  color: var(--theme);
}

.nav menu a:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--theme);
  left: 0;
  bottom: -10px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav menu a:hover:after {
  left: 50%;
  opacity: 1;
}

.nav menu ul {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav menu ul li + li {
  margin-left: 1rem;
}

.left__side {
  width: 100%;
  height: 100%;
}

.left__side img {
  border-radius: 5px;
}

.right__side {
  width: 100%;
  height: 100%;
}

.right__side .social a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.right__side .social a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.right__side .social a i:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.right__side .social a .fa:hover {
  color: var(--theme);
}

.quote {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--text-color);
  font-family: "Anton";
  margin-bottom: 3rem;
}

.main {
  width: 100%;
  height: 100vh;
}

.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_me h2 {
  position: relative;
  font-weight: 500;
  margin: auto 0;
}

.about_me div {
  height: 2px;
  background: #2d3952;
  margin: auto 0;
  margin-left: 1rem;
}

.main_wrapper {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_wrapper p {
  max-width: 590px;
}

.main_wrapper .btn {
  width: 100px;
  margin-top: 2rem;
}

.project {
  width: 100%;
  height: 100%;
}

.project .card_desktop {
  display: none;
}

.contact_section {
  width: 100%;
  height: 100%;
  margin-bottom: 8rem;
}

.contact_section .contact_message {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.contact_section .contact_message p {
  max-width: 550px;
  font: 1.2rem;
  font-weight: 400;
}

.contact_section .contact_us {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .contact_us .input_filed {
  width: 100%;
  height: 40px;
  color: gray;
  margin-bottom: 20px;
  padding: 10px;
  background: var(--heading);
  border: 0;
  font-size: 14px;
  border-radius: 3px;
}

.contact_section .contact_us .input_filed:focus {
  outline: none;
}

.contact_section .contact_us .text_aria {
  height: 150px;
}

.contact_section .contact_us .btn {
  width: 120px;
}

.footer {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  background: var(--footer);
  padding: 10px 0;
}

.footer .credit p {
  padding: 15px;
}

.footer .credit p a {
  color: var(--theme);
  text-decoration: none;
  font-weight: 400;
}

.footer .credit p .fa-heart {
  color: var(--theme);
}
/*# sourceMappingURL=style.css.map */